:root {
  --ed-blue: #241442;
  --ed-purple: #5b3aee;
  --ed-yellow: #f8bc24;
  --ed-gray: #4f536c;
  --ed-gray2: #445375;
  --black: #000;
  --white: #fff;

  --font-poppins: "Roboto", sans-serif;
}
