<div class="ed-overlay group">
  <div
    class="fixed inset-0 z-[100] group-[.active]:bg-edblue/80 duration-[400ms] pointer-events-none group-[.active]:pointer-events-auto"
  >
  </div>
</div>

<!-- cart section removed since it's not needed for an engineering school -->

<!-- search -->
<div class="ed-search group">
  <form
    action="#"
    class="bg-white fixed z-[100] top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] h-[100px] md:h-[70px] xxs:h-[50px] w-[1224px] max-w-[95%] flex gap-[10px] rounded-full overflow-hidden px-[40px] xxs:px-[20px] pointer-events-none opacity-0 group-[.active]:pointer-events-auto group-[.active]:opacity-100 duration-[400ms]"
  >
    <input
      type="search"
      name="ed-search"
      placeholder="Qidiruv..."
      class="bg-transparent w-full focus:outline-none"
    />
    <button class="text-[25px] md:text-[22px] xxs:text-[20px]">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
</div>

<div class="ed-sidebar">
  <div
    class="translate-x-[100%] transition-transform ease-linear duration-300 fixed right-0 w-full max-w-[25%] xl:max-w-[30%] lg:max-w-[40%] md:max-w-[50%] sm:max-w-[60%] xxs:max-w-full bg-white h-full z-[100] overflow-auto"
  >
    <div
      class="ed-sidebar-heading p-[20px] lg:p-[20px] border-b border-edgray/20"
    >
      <div class="logo flex justify-between items-center">
        <a href="/"
          ><img
            src="assets/img/logo.png"
            alt="Kelajak Muhandislari Maktabi"
          /></a
        >
        <button
          type="button"
          class="ed-sidebar-close-btn border border-edgray/20 w-[45px] aspect-square shrink-0 text-black text-[22px] rounded-full hover:text-edpurple"
        >
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
    <div class="ed-header-nav-in-mobile"></div>
  </div>
</div>

<!-- Header -->
<header
  class="absolute z-[99] top-0 inset-x-[100px] xxl:inset-x-[30px] xl:inset-x-0 bg-white rounded-bl-[10px] rounded-br-[10px]"
>
  <!-- top header -->
  <div
    class="bg-monza-800 flex items-center justify-between px-2 lg:justify-between lg:gap-x-[20px]"
  >
    <div
      class="flex items-center gap-x-[32px] xl:gap-x-[15px] gap-y-[6px] py-[18px] pl-[30px] xl:pl-[10px] lg:pl-0 lg:order-2 sm:pt-0 sm:pb-[10px] xl:hidden"
    >
      <a
        href="mailto:info@kelajakmuhandislari.uz"
        class="flex items-center gap-x-[10px] font-light text-white/80"
      >
        <span class="icon shrink-0 xl:hidden">
          <img src="assets/img/icon/mail.svg" alt="email" />
        </span>
        <span>info@kelajakmuhandislari.uz</span>
      </a>
      <a
        href="tel:+998977014999"
        class="flex items-center gap-x-[10px] font-light text-white text-bold"
      >
        <span class="icon shrink-0 xl:hidden">
          <img src="assets/img/icon/phone.svg" alt="telefon" />
        </span>
        <span>+998 97 701-49-99</span>
      </a>
    </div>
  </div>

  <!-- bottom header -->
  <div
    class="px-[30px] xxl:px-[15px] lg:px-[20px] py-[28px] lg:py-[18px] flex justify-between items-center"
  >
    <div class="logo w-[20%] md:w-[80%]">
      <a href="index.html"
        ><img
          src="assets/img/logo.png"
          alt="Kelajak Muhandislari Maktabi"
          class="logo"
        /></a
      >
    </div>

    <div class="flex lg:items-center lg:gap-[60px] xxs:gap-[30px]">
      <div class="flex items-center gap-[200px] xl:gap-[30px] lg:gap-y-0">
        <div class="ed-header-nav-container">
          <ul
            class="to-go-to-sidebar-in-mobile ed-header-nav flex lg:flex-col gap-x-[43px] xl:gap-x-[33px] font-kanit text-[17px] font-normal"
          >
            <li><a href="index.html">Bosh Sahifa</a></li>
            <li><a href="about.html">Biz Haqimizda</a></li>
            <li class="has-sub-menu relative">
              <a role="button">Kurslar</a>
              <ul class="ed-header-submenu">
                <li><a href="courses-5-6.html">5-6 yoshlilar uchun</a></li>
                <li><a href="courses-7-17.html">7-17 yoshlilar uchun</a></li>
                <li><a href="courses-teachers.html">O'qituvchilar uchun</a></li>
              </ul>
            </li>
            <li class="has-sub-menu relative">
              <a role="button">Ma'lumotlar</a>
              <ul class="ed-header-submenu">
                <li><a href="teachers.html">O'qituvchilar</a></li>
                <li><a href="events.html">Tadbirlar</a></li>
                <li><a href="gallery.html">Galereya</a></li>
                <li><a href="faq.html">Ko'p so'raladigan savollar</a></li>
              </ul>
            </li>
            <li><a href="news.html">Yangiliklar</a></li>
            <li><a href="contact.html">Aloqa</a></li>
          </ul>
        </div>

        <a
          href="contact.html"
          class="ed-btn bg-monza-800 md:hidden bto-go-to-sidebar-in-mobile lg:m-[20px]"
          >Biz bilan bog'laning</a
        >
      </div>
    </div>

    <!-- mobile menu button -->
    <button
      type="button"
      class="ed-mobile-menu-open-btn hidden lg:inline-block text-edblue text-[18px]"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</header>
